#perc {
	color: $text-color;
}

a:hover:before, a:focus:before
{
	font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	content: attr(data-label);
	color: rgba(255,255,255,0.4);
	font-size: 20px;
	font-weight: normal;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	line-height: 30px;
	text-align: center;
}
