code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
	white-space: normal;
	font: inherit;
}

@mixin fontStack () {
	font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.1em;
}

#perc {
	@include fontStack;
	color: $text-color;
}

.age {
	@include fontStack;
	color: $dark-text-color;
}

a:hover:before, a:focus:before
{
	content: attr(data-label);
	@include fontStack;
	color: $text-color;
	font-size: 20px;
	font-weight: normal;
	font-variant: small-caps;
	line-height: 30px;
	text-align: center;
	@include single-text-shadow;
}
